<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h4 class="card-title">Reset Password</h4>
                    <form action="/resetpassword" method="POST">
                        <div class="form-group">
                            <label for="newPass">New Password</label>
                            <input type="password" id="newPass" name="newPass" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmNewPass">Confirm Password</label>
                            <input type="password" id="confirmNewPass" name="confirmNewPass" class="form-control"
                                required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-warning">CHANGE PASSWORD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>